.login_page_section {
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
}

.login_form_container {
  width: 100%;
  margin: 40px 0px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login_card {
  width: 400px;
  padding: 0px 10px;
}
.emailLoginInput {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid gainsboro;
  background-color: transparent;
  font-size: 18px;
  padding: 5px 0px;
  margin: 10px 0px;
}

.signin_btn {
  color: #fff;
  background: #2859e0;
  border: none;
  width: 100%;
  padding: 10px 20px;
  margin: 20px 0px 10px 0px;
  transition: all 0.2s;
}
.signin_btn:hover {
  background: #666666;
}

.sign_up_path a {
  color: white;
  text-decoration: none;
  background: #212529;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 400px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.otp_box {
  text-align: center;
}

#otpSubmitBtn {
  color: #ffffff;
  background: #2859e0;
  border: none;
  width: 100%;
  padding: 10px 20px;
  margin: 20px 0px;
  transition: all 0.2s;
}
.countdown-text {
  display: flex;
  margin: 10px 0px 0px 0px;
}
.countdown-text p {
  margin-bottom: 0px !important;
}
.resendOtpBtn {
  color: #ffffff;
  background: #96b1fc;
  border: none;
  border-radius: 3px;
  padding: 0px 5px;
  margin-left: 10px;
  transition: all 0.2s;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
}

.world_id_container {
  width: 100%;
  margin: 40px 0px;
  padding: 20px;
  background-color: #929292;
  color: #fff;
  border-radius: 10px;
}
.world_id_container span {
  font-size: 20px;
  margin-left: 10px;
}

.authenticBtn {
  padding: 10px 40px;
  border-radius: 10px;
  margin: 40px 0px 0px 0px;
  background-color: #212529;
  color: #fff;
  border: none;
}
.authenticBtn:hover {
  background-color: #4f4f4f;
}
.recoverBtn {
  padding: 10px 40px;
  border-radius: 10px;
  margin: 40px 0px 0px 0px;
  background-color: #fff;
  color: #1b1b1b;
  border: none;
}
.world_id_container .activeBtn {
  border: none;
  border-radius: 30px;
  padding: 5px 20px;
  color: rgb(0, 231, 0);
  background: #fff;
}

/* prove_personHood_container css */

.prove_personHood_container, .face_auth_verified_container {
  width: 400px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding: 30px 40px;
  /* display: none; */
  
}
.prove_personHood_cam_content p{
  font-size: 20px;
  color: rgb(70, 43, 226)
}
.prove_personHood_cam_content img{
  border-radius: 10px;
}

.prove_personHood_container button{
  border: none;
  background-color: #1b1b1b;
  border-radius: 10px;
  color: #fff;
  padding: 10px 20px;
  width: 95%;
  margin-top: 20px;
}
.prove_personHood_container button:hover{
  background-color: #505050;
}


.face_auth_verified_container button{
  border: none;
  background-color: green;
  color: #fff;
  padding: 10px 40px;
  border-radius: 5px;
}
.face_auth_verified_container button:hover{
  background-color: rgb(0, 194, 0);
}