.chat_with_ai_section_sideArticle_container {
  background-color: rgb(230, 230, 230);
  padding: 20px 30px;
  border-radius: 10px;
  height: 77.5vh;
}

.chat_with_ai_section_sideArticle_btn_container button,
.discuss_with_others_section_sideArticle_btn_container button {
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid gainsboro;
  border-radius: 7px;
  background-color: rgb(247, 247, 247);
  font-weight: 600;
}
.chat_with_ai_section_sideArticle_btn_container button span,
.discuss_with_others_section_sideArticle_btn_container button span {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
}


.videoAnalysisContinueBtn,
.videoAnalysisYesBtn,
.videoAnalysisNoBtn,
.videoAnalysisMaybeBtn {
  border: 1px solid gainsboro;
  border-radius: 5px;
  background-color: rgb(16, 120, 211);
  color: #fff;
  padding: 7px 10px;
  font-size: 13px;
  margin-left: 10px;
}
.videoAnalysisContinueBtn:hover{
  background-color: rgb(18, 89, 151);
  color: rgb(255, 255, 255);
}
.videoAnalysisYesBtn {
  background-color: green;
  color: #fff;
}
.videoAnalysisNoBtn {
  background-color: red;
  color: #fff;
}
.videoAnalysisMaybeBtn {
  background-color: blue;
  color: #fff;
}
.useFull_question{
  margin-left: 10px;
}


.chat_with_ai_section_chat_container {
  min-height: calc(100vh-14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
}
.chats {
  width: 100%;
  height: 68.5vh;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 0px 20px;
}
.chat::-webkit-scrollbar {
  width: 5px;
}
.chat {
  padding: 10px 20px;
  margin: 20px 10px;
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  text-align: justify;
}
.bot {
  background-color: aliceblue;
  width: fit-content;
  border-radius: 5px;
}
.chat img {
  width: 30px;
  margin-right: 10px;
  border-radius: 5px;
}
.chat p {
  margin-left: 10px;
  margin-top: 5px;
}
.chat_footer {
  width: 100%;
  margin-top: 10px;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inp {
  width: 100%;
  background-color: aliceblue;
  border-radius: 7px;
  padding: 5px;
  display: flex;
  align-items: center;
}
.inp > input {
  width: calc(100% - 3rem);
  outline: none;
  padding: 10px;
  border: none;
  background: transparent;
}

.inp > .send {
  background: transparent;
  outline: none;
  border: none;
}


@media screen and (max-width:768px) {
  .chat_with_ai_section_sideArticle_container {
    background-color: rgb(230, 230, 230);
    padding: 20px 30px;
    border-radius: 10px;
    height: auto;
  }
}