.chat_with_ai_section_sideArticle_container {
  background-color: rgb(230, 230, 230);
  padding: 20px 30px;
  border-radius: 10px;
}

.chat_with_ai_section_sideArticle_btn_container button,
.discuss_with_others_section_sideArticle_btn_container button {
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid gainsboro;
  border-radius: 7px;
  background-color: rgb(247, 247, 247);
  font-weight: 600;
}
.chat_with_ai_section_sideArticle_btn_container button span,
.discuss_with_others_section_sideArticle_btn_container button span {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
}

.chat_with_ai_section_chat_container {
  min-height: calc(100vh-14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem 1rem;
}
.chats {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 80rem;
  height: calc(100vh-17rem);
}
.chat {
  padding: 10px;
  margin: 20px;
  font-size: 15px;
  display: flex;
  align-items: flex-start;
  text-align: justify;
}
.bot {
  background-color: aliceblue;
  width: fit-content;
  border-radius: 5px;
}
.chat img {
  width: 30px;
  margin-right: 20px;
  border-radius: 5px;
}
.chat_footer {
  position: absolute;
  margin-bottom: 32px;
  bottom: 0;
  /* width: 100%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
}

.inp {
  width: 50rem;
  background-color: aliceblue;
  border-radius: 7px;
  padding: 5px;
  display: flex;
  align-items: center;
}
.inp > input {
  width: calc(100% - 3rem);
  outline: none;
  padding: 10px;
  border: none;
  background: transparent;
}

.inp > .send {
  background: transparent;
  outline: none;
  border: none;
}
