.navbar_container {
  background: rgb(230, 230, 230);
  border: 1px solid gainsboro;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 6px;
}
.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  list-style: none;
  padding: 5px;
  margin-bottom: 0px;
}
.menu_with_admin {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  list-style: none;
  padding: 5px;
  margin-bottom: 0px;
}
.menu li, .menu_with_admin li {
  width: 100%;
  text-align: center;
  color: rgb(50, 50, 50);
  padding: 5px;
  
}
.menu li:hover, .menu_with_admin li:hover, .active li{
  background-color: aliceblue;
  border-radius: 5px;
}
.menu a , .menu_with_admin a{
  text-decoration: none;
}
